/* v1.3 ---Tabs---*/
.stadium-tabs {
    --stadium-tab-label-border-top-color: #ccc;
    --stadium-tab-label-border-right-color: #ccc;
    --stadium-tab-label-border-bottom-color: #ccc;
    --stadium-tab-label-border-left-color: #ccc;
    --stadium-tab-label-border-radius: 0;

    --stadium-tab-label-border-top-size: 0.1rem;
    --stadium-tab-label-border-right-size: 0.1rem;
    --stadium-tab-label-border-bottom-size: 0.1rem;
    --stadium-tab-label-border-left-size: 0.1rem;

    --stadium-tab-label-top-padding: 1.6rem;
    --stadium-tab-label-right-padding: 3.2rem;
    --stadium-tab-label-bottom-padding: 1.6rem;
    --stadium-tab-label-left-padding: 3.2rem;

    --stadium-tab-label-background-color: #f9f9f9;
    --stadium-tab-label-font-color: inherit;
    --stadium-tab-label-font-weight: normal;
    --stadium-tab-label-font-case: uppercase;
    --stadium-tab-label-hover-background-color: #f5f5f5;
    --stadium-tab-label-font-weight: normal;
    --stadium-tab-label-hover-font-color: #333;
    --stadium-tab-label-hover-font-weight: normal;

    --stadium-tab-active-label-border-top-color: #ccc;
    --stadium-tab-active-label-border-right-color: #ccc;
    --stadium-tab-active-label-border-bottom-color: #fff;
    --stadium-tab-active-label-border-left-color: #ccc;

    --stadium-tab-active-label-border-top-size: 0.1rem;
    --stadium-tab-active-label-border-right-size: 0.1rem;
    --stadium-tab-active-label-border-bottom-size: 0;
    --stadium-tab-active-label-border-left-size: 0.1rem;

    --stadium-tab-active-label-background-color: white;
    --stadium-tab-active-label-font-color: #777;
    --stadium-tab-active-label-font-weight: bold;

    --stadium-tab-content-border-top-color: #ccc;
    --stadium-tab-content-border-right-color: #ccc;
    --stadium-tab-content-border-bottom-color: #ccc;
    --stadium-tab-content-border-left-color: #ccc;

    --stadium-tab-content-border-top-size: 0.1rem;
    --stadium-tab-content-border-right-size: 0.1rem;
    --stadium-tab-content-border-bottom-size: 0.1rem;
    --stadium-tab-content-border-left-size: 0.1rem;

    --stadium-tab-content-top-padding: 1.6rem;
    --stadium-tab-content-right-padding: 3.2rem;
    --stadium-tab-content-bottom-padding: 1.6rem;
    --stadium-tab-content-left-padding: 3.2rem;

    --stadium-tab-bottom-border-animation-speed: 0s;
    
    --stadium-tab-label-gap: 0.2rem;
    --stadium-tab-content-background-color: transparent;
}

.tabs-fancy {
    --stadium-tab-label-border-top-color: #fff;
    --stadium-tab-label-border-right-color: #fff;
    --stadium-tab-label-border-bottom-color: #ccc;
    --stadium-tab-label-border-left-color: #fff;
    --stadium-tab-label-border-radius: 0.4rem;

    --stadium-tab-label-border-top-size: 0.1rem;
    --stadium-tab-label-border-right-size: 0.1rem;
    --stadium-tab-label-border-bottom-size: 0.2rem;
    --stadium-tab-label-border-left-size: 0.1rem;

    --stadium-tab-label-top-padding: 1.6rem;
    --stadium-tab-label-right-padding: 3.2rem;
    --stadium-tab-label-bottom-padding: 1.6rem;
    --stadium-tab-label-left-padding: 3.2rem;

    --stadium-tab-label-background-color: #fff;
    --stadium-tab-label-font-color: #333;
    --stadium-tab-label-font-weight: normal;
    --stadium-tab-label-font-case: uppercase;
    --stadium-tab-label-hover-background-color: #fff;
    --stadium-tab-label-hover-font-color: #333;
    --stadium-tab-label-hover-font-weight: normal;

    --stadium-tab-active-label-border-top-color: #fff;
    --stadium-tab-active-label-border-right-color: #fff;
    --stadium-tab-active-label-border-bottom-color: #ccc;
    --stadium-tab-active-label-border-left-color: #fff;

    --stadium-tab-active-label-border-top-size: 0.1rem;
    --stadium-tab-active-label-border-right-size: 0.1rem;
    --stadium-tab-active-label-border-bottom-size: 0.2rem;
    --stadium-tab-active-label-border-left-size: 0.1rem;

    --stadium-tab-active-label-background-color: white;
    --stadium-tab-active-label-font-color: #2196f3;
    --stadium-tab-active-label-font-weight: bold;

    --stadium-tab-content-border-top-color: #fff;
    --stadium-tab-content-border-right-color: #fff;
    --stadium-tab-content-border-bottom-color: #fff;
    --stadium-tab-content-border-left-color: #fff;

    --stadium-tab-content-border-top-size: 0.1rem;
    --stadium-tab-content-border-right-size: 0.1rem;
    --stadium-tab-content-border-bottom-size: 0.2rem;
    --stadium-tab-content-border-left-size: 0.1rem;

    --stadium-tab-content-top-padding: 1.6rem;
    --stadium-tab-content-right-padding: 3.2rem;
    --stadium-tab-content-bottom-padding: 1.6rem;
    --stadium-tab-content-left-padding: 3.2rem;

    --stadium-tab-bottom-border-animation-speed: 0.6s;
}

.tabs-blue {
    --stadium-tab-label-border-top-color: #fff;
    --stadium-tab-label-border-right-color: #fff;
    --stadium-tab-label-border-bottom-color: #fff;
    --stadium-tab-label-border-left-color: #fff;
    --stadium-tab-label-border-radius: 0.4rem;

    --stadium-tab-label-border-top-size: 0.1rem;
    --stadium-tab-label-border-right-size: 0.1rem;
    --stadium-tab-label-border-bottom-size: 0.1rem;
    --stadium-tab-label-border-left-size: 0.1rem;

    --stadium-tab-label-top-padding: 1.6rem;
    --stadium-tab-label-right-padding: 3.2rem;
    --stadium-tab-label-bottom-padding: 1.6rem;
    --stadium-tab-label-left-padding: 3.2rem;

    --stadium-tab-label-background-color: rgb(33, 150, 243);
    --stadium-tab-label-font-color: #ffffff;
    --stadium-tab-label-font-weight: normal;
    --stadium-tab-label-font-case: uppercase;
    --stadium-tab-label-hover-background-color: rgb(25, 118, 210);
    --stadium-tab-label-hover-font-color: #fff;
    --stadium-tab-label-hover-font-weight: normal;

    --stadium-tab-active-label-border-top-size: 0.1rem;
    --stadium-tab-active-label-border-right-size: 0.1rem;
    --stadium-tab-active-label-border-bottom-size: 0.1rem;
    --stadium-tab-active-label-border-left-size: 0.1rem;

    --stadium-tab-active-label-border-top-color: #575757;
    --stadium-tab-active-label-border-right-color: #575757;
    --stadium-tab-active-label-border-bottom-color: #fff;
    --stadium-tab-active-label-border-left-color: #575757;

    --stadium-tab-active-label-background-color: white;
    --stadium-tab-active-label-font-color: #333;
    --stadium-tab-active-label-font-weight: normal;

    --stadium-tab-content-border-top-color: #333;
    --stadium-tab-content-border-right-color: #fff;
    --stadium-tab-content-border-bottom-color: #fff;
    --stadium-tab-content-border-left-color: #fff;

    --stadium-tab-content-border-top-size: 0.1rem;
    --stadium-tab-content-border-right-size: 0.1rem;
    --stadium-tab-content-border-bottom-size: 0.1rem;
    --stadium-tab-content-border-left-size: 0.1rem;

    --stadium-tab-content-top-padding: 1.6rem;
    --stadium-tab-content-right-padding: 3.2rem;
    --stadium-tab-content-bottom-padding: 1.6rem;
    --stadium-tab-content-left-padding: 3.2rem;

    --stadium-tab-bottom-border-animation-speed: 0s;
}

.tabs-blue-vertical {
    --stadium-tab-label-border-top-color: #2196f3;
    --stadium-tab-label-border-right-color: #fff;
    --stadium-tab-label-border-bottom-color: #fff;
    --stadium-tab-label-border-left-color: #fff;
    --stadium-tab-label-border-radius: 0.4rem;

    --stadium-tab-label-border-top-size: 0.1rem;
    --stadium-tab-label-border-right-size: 0.1rem;
    --stadium-tab-label-border-bottom-size: 0.1rem;
    --stadium-tab-label-border-left-size: 0.1rem;

    --stadium-tab-label-top-padding: 1.6rem;
    --stadium-tab-label-right-padding: 3.2rem;
    --stadium-tab-label-bottom-padding: 1.6rem;
    --stadium-tab-label-left-padding: 3.2rem;

    --stadium-tab-label-background-color: #2196f3;
    --stadium-tab-label-font-color: #ffffff;
    --stadium-tab-label-font-weight: normal;
    --stadium-tab-label-font-case: uppercase;
    --stadium-tab-label-hover-background-color: #1976d2;
    --stadium-tab-label-hover-font-color: #fff;
    --stadium-tab-label-hover-font-weight: normal;

    --stadium-tab-active-label-border-top-size: 0.1rem;
    --stadium-tab-active-label-border-right-size: 0;
    --stadium-tab-active-label-border-bottom-size: 0.1rem;
    --stadium-tab-active-label-border-left-size: 0.1rem;

    --stadium-tab-active-label-border-top-color: #575757;
    --stadium-tab-active-label-border-right-color: #fff;
    --stadium-tab-active-label-border-bottom-color: #575757;
    --stadium-tab-active-label-border-left-color: #575757;

    --stadium-tab-active-label-background-color: white;
    --stadium-tab-active-label-font-color: #333;
    --stadium-tab-active-label-font-weight: normal;

    --stadium-tab-content-border-top-color: #333;
    --stadium-tab-content-border-right-color: #575757;
    --stadium-tab-content-border-bottom-color: #575757;
    --stadium-tab-content-border-left-color: #575757;

    --stadium-tab-content-border-top-size: 0.1rem;
    --stadium-tab-content-border-right-size: 0.1rem;
    --stadium-tab-content-border-bottom-size: 0.1rem;
    --stadium-tab-content-border-left-size: 0.1rem;

    --stadium-tab-content-top-padding: 1.6rem;
    --stadium-tab-content-right-padding: 3.2rem;
    --stadium-tab-content-bottom-padding: 1.6rem;
    --stadium-tab-content-left-padding: 3.2rem;

    --stadium-tab-bottom-border-animation-speed: 0s;
}