/* v1.3 ---Tabs---*/
.container-layout.stadium-tabs {
    overflow: hidden;
    margin-top: 10px;
    visibility: hidden;

    .tab-label-container {
        position: relative;
        display: flex;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        gap: var(--stadium-tab-label-gap, 2px);
    }

    .tab-content-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .tab-label-container::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: var(--stadium-tab-content-border-bottom-size, 1px);
        scale: var(--_width, 0) 1.125;
        translate: var(--_left, 0) 0;
        transform-origin: left;
        transition: scale var(--stadium-tab-bottom-border-animation-speed, 0s), translate var(--stadium-tab-bottom-border-animation-speed, 0s);
        background: var(--stadium-tab-active-label-font-color, var(--X-DARK-GREY));
    }

    .tablabel {
        border-top: var(--stadium-tab-label-border-top-size, 1px) solid var(--stadium-tab-label-border-top-color, var(--BUTTON-BORDER-COLOR));
        border-right: var(--stadium-tab-label-border-right-size, 1px) solid var(--stadium-tab-label-border-right-color, var(--BUTTON-BORDER-COLOR));
        border-bottom: var(--stadium-tab-label-border-bottom-size, 1px) solid var(--stadium-tab-label-border-bottom-color, var(--BUTTON-BORDER-COLOR));
        border-left: var(--stadium-tab-label-border-left-size, 1px) solid var(--stadium-tab-label-border-left-color, var(--BUTTON-BORDER-COLOR));
        border-top-right-radius: var(--stadium-tab-label-border-radius, 0);
        border-top-left-radius: var(--stadium-tab-label-border-radius, 0);
        cursor: pointer;
        background-color: inherit;
        margin-top: 0;
        position: relative;
        padding: var(--stadium-tab-label-top-padding, 16px) var(--stadium-tab-label-right-padding, 32px) var(--stadium-tab-label-bottom-padding, 16px) var(--stadium-tab-label-right-padding, 32px);
        top: 1px;
        background-color: var(--stadium-tab-label-background-color, var(--BUTTON-BACKGROUND-COLOR));
        color: var(--stadium-tab-label-font-color, var(--BUTTON-TEXT-COLOR));
        font-weight: var(--stadium-tab-label-font-weight, var(--BUTTON-FONT-WEIGHT));
        text-transform: var(--stadium-tab-label-font-case, var(--BUTTON-TEXT-TRANSFORM));

        span, a {
            user-select: none;
        }
    }

    .tablabel:has(+ .tablabel) {
        /*border-right: 0;*/
    }

    .tablabel:hover {
        background-color: var(--stadium-tab-label-hover-background-color, var(--BUTTON-HOVER-BACKGROUND-COLOR));
        color: var(--stadium-tab-label-hover-font-color, var(--BUTTON-HOVER-TEXT-COLOR));
        font-weight: var(--stadium-tab-label-hover-font-weight, var(--BUTTON-FONT-WEIGHT));
    }

    .tablabel.active-tab {
        border-top: var(--stadium-tab-active-label-border-top-size, 1px) solid var(--stadium-tab-active-label-border-top-color, var(--BUTTON-ACTIVE-BORDER-COLOR));
        border-right: var(--stadium-tab-active-label-border-right-size, 1px) solid var(--stadium-tab-active-label-border-right-color, var(--BUTTON-ACTIVE-BORDER-COLOR));
        border-bottom: var(--stadium-tab-active-label-border-bottom-size, 0) solid var(--stadium-tab-active-label-border-bottom-color, var(--BODY-BACKGROUND-COLOR));
        border-left: var(--stadium-tab-active-label-border-left-size, 1px) solid var(--stadium-tab-active-label-border-left-color, var(--BUTTON-ACTIVE-BORDER-COLOR));
        background-color: var(--stadium-tab-active-label-background-color, var(--BODY-BACKGROUND-COLOR));
        cursor: default;
        pointer-events: none;

        span, .btn-link {
            color: var(--stadium-tab-active-label-font-color, var(--BODY-FONT-COLOR));
            font-weight: var(--stadium-tab-active-label-font-weight, bold);
            cursor: default;
            pointer-events: none;
        }
    }

    .tabcontent {
        display: block;
        border: 0;
        padding: 0;
        max-height: 0;
        width: 100%;
        overflow: hidden;
        background-color: var(--stadium-tab-content-background-color, var(--BODY-BACKGROUND-COLOR));
        
        > * {
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    .tabcontent.active-tab {
        display: block;
        padding: var(--stadium-tab-content-top-padding, 16px) var(--stadium-tab-content-right-padding, 32px) var(--stadium-tab-content-bottom-padding, 16px) var(--stadium-tab-content-right-padding, 32px);
        border-top: var(--stadium-tab-content-border-top-size, 1px) solid var(--stadium-tab-content-border-top-color, var(--BUTTON-ACTIVE-BORDER-COLOR));
        border-right: var(--stadium-tab-content-border-right-size, 1px) solid var(--stadium-tab-content-border-right-color, var(--BUTTON-ACTIVE-BORDER-COLOR));
        border-bottom: var(--stadium-tab-content-border-bottom-size, 1px) solid var(--stadium-tab-content-border-bottom-color, var(--BUTTON-ACTIVE-BORDER-COLOR));
        border-left: var(--stadium-tab-content-border-left-size, 1px) solid var(--stadium-tab-content-border-left-color, var(--BUTTON-ACTIVE-BORDER-COLOR));
        max-height: fit-content;

        > .stack-layout-container {
            overflow: auto;
        }

        > * {
            opacity: 1;
        }
    }
}

.container-layout.tabs-vertical {
    display: flex;

    .stack-layout-container:nth-child(1),
    .stack-layout-container:nth-child(2) {
        display: flex;
        flex-direction: column;
    }

    .tablabel {
        top: 0;
        left: 1px;
        border-top-left-radius: var(--stadium-tab-label-border-radius, 0);
        border-bottom-left-radius: var(--stadium-tab-label-border-radius, 0);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .tablabel:has(+ .tablabel) {
        border-right: var(--stadium-tab-active-label-border-right-size, 1px) solid var(--stadium-tab-active-label-border-right-color, var(--BUTTON-ACTIVE-BORDER-COLOR));
    }
    
    .tablabel.active-tab {
        border-right: 0;
        border-bottom: var(--stadium-tab-content-border-bottom-size, 1px) solid var(--stadium-tab-content-border-bottom-color, var(--BUTTON-ACTIVE-BORDER-COLOR));
    }

    .tabcontent {
        flex-grow: 1;
    }
}
.menu-container.stadium-tabs {
    display: block;
    .active-menu-item,
    .active-menu-item:hover {
        background-color: white;
        color: var(--stadium-tab-label-background-color, var(--MENU-BACKGROUND-COLOR));
    }
}
.stack-layout-container:has(.menu-container.stadium-tabs) ~.stack-layout-container div {
    margin-top: 0;
    padding: 10px;
    border-right: 1px solid var(--stadium-tab-active-label-border-top-color, var(--MENU-BORDER-COLOR));
    border-bottom: 1px solid var(--stadium-tab-active-label-border-top-color, var(--MENU-BORDER-COLOR));
    border-left: 1px solid var(--stadium-tab-active-label-border-top-color, var(--MENU-BORDER-COLOR));
}
