/*---Tabs---*/

.container-layout.stadium-tabs {
    overflow: hidden;
    margin-top: 10px;
    visibility: hidden;

    .tab-label-container {
        position: relative;
        display: flex;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .tab-content-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .tab-label-container::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: var(--stadium-tab-content-border-bottom-size);
        scale: var(--_width, 0) 1.125;
        translate: var(--_left, 0) 0;
        transform-origin: left;
        transition: scale var(--stadium-tab-bottom-border-animation-speed), translate var(--stadium-tab-bottom-border-animation-speed);
        background: var(--stadium-tab-active-label-font-color);
    }

    .tablabel {
        border-top: var(--stadium-tab-label-border-top-size) solid var(--stadium-tab-label-border-top-color);
        border-right: var(--stadium-tab-label-border-right-size) solid var(--stadium-tab-label-border-right-color);
        border-bottom: var(--stadium-tab-label-border-bottom-size) solid var(--stadium-tab-label-border-bottom-color);
        border-left: var(--stadium-tab-label-border-left-size) solid var(--stadium-tab-label-border-left-color);
        border-top-right-radius: var(--stadium-tab-label-border-radius);
        border-top-left-radius: var(--stadium-tab-label-border-radius);
        cursor: pointer;
        background-color: inherit;
        margin-top: 0;
        position: relative;
        padding: var(--stadium-tab-label-top-padding) var(--stadium-tab-label-right-padding) var(--stadium-tab-label-bottom-padding) var(--stadium-tab-label-right-padding);
        top: 1px;
        background-color: var(--stadium-tab-label-background-color);
        color: var(--stadium-tab-label-font-color);
        font-weight: var(--stadium-tab-label-font-weight);
        text-transform: var(--stadium-tab-label-font-case);

        span, a {
            user-select: none;
        }
    }

    .tablabel:has(+ .tablabel) {
        border-right: 0;
    }

    .tablabel:hover {
        background-color: var(--stadium-tab-label-hover-background-color);
        color: var(--stadium-tab-label-hover-font-color);
        font-weight: var(--stadium-tab-label-hover-font-weight);
    }

    .tablabel.active-tab {
        border-top: var(--stadium-tab-active-label-border-top-size) solid var(--stadium-tab-active-label-border-top-color);
        border-right: var(--stadium-tab-active-label-border-right-size) solid var(--stadium-tab-active-label-border-right-color);
        border-bottom: var(--stadium-tab-active-label-border-bottom-size) solid var(--stadium-tab-active-label-border-bottom-color);
        border-left: var(--stadium-tab-active-label-border-left-size) solid var(--stadium-tab-active-label-border-left-color);
        background-color: var(--stadium-tab-active-label-background-color);
        cursor: default;
        pointer-events: none;

        span, .btn-link {
            color: var(--stadium-tab-active-label-font-color);
            font-weight: var(--stadium-tab-active-label-font-weight);
            cursor: default;
            pointer-events: none;
        }
    }

    .tabcontent {
        display: block;
        border: 0;
        padding: 0;
        max-height: 0;
        width: 100%;
        overflow: hidden;

        &>* {
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    .tabcontent.active-tab {
        display: block;
        padding: var(--stadium-tab-content-top-padding) var(--stadium-tab-content-right-padding) var(--stadium-tab-content-bottom-padding) var(--stadium-tab-content-right-padding);
        border-top: var(--stadium-tab-content-border-top-size) solid var(--stadium-tab-content-border-top-color);
        border-right: var(--stadium-tab-content-border-right-size) solid var(--stadium-tab-content-border-right-color);
        border-bottom: var(--stadium-tab-content-border-bottom-size) solid var(--stadium-tab-content-border-bottom-color);
        border-left: var(--stadium-tab-content-border-left-size) solid var(--stadium-tab-content-border-left-color);
        max-height: fit-content;

        &>* {
            opacity: 1;
        }
    }
}

.container-layout.tabs-vertical {
    display: flex;

    .stack-layout-container:nth-child(1),
    .stack-layout-container:nth-child(2) {
        display: flex;
        flex-direction: column;
    }

    .tablabel {
        top: 0;
        left: 1px;
        border-top-left-radius: var(--stadium-tab-label-border-radius);
        border-bottom-left-radius: var(--stadium-tab-label-border-radius);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .tablabel:has(+ .tablabel) {
        border-right: var(--stadium-tab-active-label-border-right-size) solid var(--stadium-tab-active-label-border-right-color);
    }
    
    .tablabel.active-tab {
        border-right: 0;
        border-bottom: var(--stadium-tab-content-border-bottom-size) solid var(--stadium-tab-content-border-bottom-color);
    }

    .tabcontent {
        flex-grow: 1;
    }
}

.menu-container.stadium-tabs {
    display: block;
    .active-menu-item,
    .active-menu-item:hover {
        background-color: white;
        color: #2196f3;
    }
}
.stack-layout-container:has(.menu-container.stadium-tabs) ~.stack-layout-container div {
    margin-top: 0;
    padding: 10px;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
}
